.form-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

#register-form {
    border: black solid;
    padding: 1rem;
    width: 70vw;
}

#submit-button {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

.hidden {
    visibility: hidden;
}